body {
  font-family: Arial;
  background: #0b0f14;
  color: white;
  padding: 20px;
}
.card {
  background: #111826;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}
input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}
button {
  background: #2f78ff;
  color: white;
  border: none;
}
